<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_for(:complete_event, :url => {:action => :update, :id => @event.id}) do |e| %>
    <table>
	<tr>
	  <th>Initails</th>
	  <td><%= e.text_field(:initials) %></td>
	</tr>
	<tr>
	  <th>Name</th>
	  <td><%= e.text_field(:name) %></td>
	</tr>
	<tr> 
	  <th>Event</th>
	  <td><%= e.text_field(:event_name) %></td>
	</tr>
	<tr>
	  <th>Event Description</th>
	  <td><%= e.text_area(:event_description) %></td>
	</tr>
	<tr>
	  <th>Event Comments</th>
	  <td><%= e.text_area(:comment) %></td>
	</tr>
	<tr>
	  <th>Verified ?</th>
	  <td><%= e.check_box(:admin_verify) %></td>
	</tr>
    </table>

	
	  <div class="actions">
	    <%= e.submit %>
	  </div>
  <% end %>
<% end %>
